{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} | Genuri{% endblock %}

{% block body %}

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nume</th>
            <th>Descriere</th>
        </tr>
        </thead>
        <tbody>
        {% for gen in genuri %}
            <tr>
                <td class="centered"><a href="{{ path('gen', {id: gen.id}) }}">{{ gen.id }}</a></td>
                <td><a href="{{ path('gen', {id: gen.id}) }}">{{ gen.nume }}</a></td>
                <td>{{ gen.descriere }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}